Serengeti_shp.dbf
Serengeti_shp.prj
Serengeti_shp.shp
Serengeti_shp.shx
Serengeti_shp21036.cpg
Serengeti_shp21036.dbf
Serengeti_shp21036.prj
Serengeti_shp21036.qmd
Serengeti_shp21036.shp
Serengeti_shp21036.shx
serengeti.geojson
